## Transformacion datos economicos de utilidad para el proyecto

Extraeremos datos de diversas fuentes, los cuales normalizaremos, dividiremos por condado si no lo estan y manejaremos los nulos para asi obtener un dataset con todos los datos necesarios para este proyecto

***Exportamos Librerias***

In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re

# ------------------------------------------------------------------------------

***Creamos diccionario con condados y sus ciudades***

In [2]:
condados_a_ciudades = {
    'Alameda': ['Alameda', 'Albany', 'Berkeley', 'Dublin', 'Emeryville', 'Fremont', 'Hayward', 'Livermore', 'Newark', 'Oakland', 'Pleasanton', 'San Leandro', 'Union City', 'Castro Valley', 'San Lorenzo'],
    'Alpine': ['Markleeville', 'Markleeville'],
    'Amador': ['Amador City', 'Ione', 'Jackson', 'Plymouth', 'Sutter Creek', 'Jackson'],
    'Butte': ['Biggs', 'Chico', 'Gridley', 'Oroville', 'Durham', 'Paradise', 'Chico', 'Magalia', 'Paradise'],
    'Calaveras': ['Angels Camp', 'Copperopolis', 'Arnold', 'San Andreas'],
    'Colusa': ['Colusa', 'Williams', 'Colusa', 'Princeton'],
    'Contra Costa': ['Alameda Park', 'Antioch', 'Brentwood', 'Clayton', 'Concord', 'Crockett', 'Danville', 'El Cerrito', 'Hercules', 'Lafayette', 'Martinez', 'Moraga', 'Orinda', 'Pinole', 'Pittsburg', 'Pleasant Hill', 'Richmond', 'San Pablo', 'San Ramon', 'Walnut Creek', 'Alamo', 'Pacheco', 'Bay Point', 'El Sobrante', 'Oakley', 'Rodeo', 'Discovery Bay'],
    'Del Norte': ['Crescent City'],
    'El Dorado': ['Placerville', 'South Lake Tahoe', 'El Dorado Hills', 'Cool', 'Lotus', 'Cameron Park', 'Kyburz', 'Diamond Springs'],
    'Fresno': ['Biola', 'Clovis', 'Coalinga', 'Firebaugh', 'Fowler', 'Fresno', 'Huron', 'Kerman', 'Kingsburg', 'Mendota', 'Orange Cove', 'Parlier', 'Reedley', 'San Joaquin', 'Sanger', 'Selma', 'Prather', 'Shaver Lake', 'Riverdale', 'Five Points'],
    'Glenn': ['Orland', 'Willows'],
    'Humboldt': ['Arcata', 'Blue Lake', 'Eureka', 'Fortuna', 'Rio Dell', 'Trinidad', 'McKinleyville', 'Ferndale', 'Garberville', 'Loleta', 'Whitethorn', 'Willow Creek'],
    'Imperial': ['Brawley', 'Calexico', 'Calipatria', 'El Centro', 'Holtville', 'Imperial', 'Westmorland'],
    'Inyo': ['Bishop', 'Lone Pine'],
    'Kern': ['Arvin', 'Bakersfield', 'California City', 'Delano', 'Maricopa', 'McFarland', 'Ridgecrest', 'Shafter', 'Taft', 'Tehachapi', 'Wasco', 'Rosamond', 'Edwards AFB', 'Lamont', 'Mojave', 'Lost Hills', 'Kernville', 'Lake Isabella', 'Edwards'],
    'Kings': ['Avenal', 'Corcoran', 'Hanford', 'Lemoore'],
    'Lake': ['Clearlake', 'Lakeport', 'Nice', 'Spring Valley', 'Hidden Valley Lake', 'Kelseyville', 'Lower Lake'],
    'Lassen': ['Susanville', 'Bieber'],
    'Los Angeles': ['Pacific Palisades', 'Valencia', 'Reseda', 'San Pedro', 'City of Industry', 'Northridge', 'North Hollywood', 'Sylmar', 'Sun Valley', 'Artesia', 'Arcadia', 'Venice', 'Sherman Oaks', 'Van Nuys', 'Studio City', 'Granada Hills', 'Rowland Heights', 'Harbor City', 'Tujunga', 'Saugus', 'Highland Park', 'Pacoima', 'Universal City', 'Hollywood', 'East Los Angeles', 'West Hills', 'Cudahy', 'La Crescenta-Montrose', 'Canoga Park','Wilmington', 'Woodland Hills', 'Canyon Country', 'Panorama City', 'Tarzana', 'Winnetka', 'Newhall', 'Castaic', 'Stevenson Ranch', 'Irwindale', 'View Park-Windsor Hills', 'Lomita', 'Marina Del Rey', 'Valley Glen', 'Eagle Rock', 'North Hills', 'Lakewood', 'Arleta', 'Toluca Lake', 'Valley Village', 'Mission Hills', 'Bassett', 'Littlerock', 'Topanga', 'Playa Vista', 'Quartz Hill', 'East Compton', 'Porter Ranch', 'Silver Lake','Agoura Hills', 'Alhambra', 'Alondra Park', 'Altadena', 'Avalon', 'Azusa', 'Baldwin Park', 'Bell', 'Bell Gardens', 'Bellflower', 'Beverly Hills', 'Burbank', 'Calabasas', 'Carson', 'Cerritos', 'Chatsworth', 'Claremont', 'Commerce', 'Compton', 'Covina', 'Culver City', 'Diamond Bar', 'Downey', 'Duarte', 'El Monte', 'El Segundo', 'Encino', 'Gardena', 'Glendale', 'Glendora', 'Hacienda Heights', 'Hawaiian Gardens', 'Hawthorne', 'Hermosa Beach', 'Huntington Park', 'Industry', 'Inglewood', 'La Canada Flintridge', 'La Mirada', 'La Puente', 'La Verne', 'Lancaster', 'Lawndale', 'Lennox', 'Long Beach', 'Los Angeles', 'Lynwood', 'Malibu', 'Manhattan Beach', 'Maywood', 'Monrovia', 'Montebello', 'Monterey Park', 'Norwalk', 'Palmdale', 'Palos Verdes Estates', 'Paramount', 'Pasadena', 'Pico Rivera', 'Pomona', 'Rancho Palos Verdes', 'Redondo Beach', 'Rolling Hills Estates', 'Rosemead', 'San Dimas', 'San Fernando', 'San Gabriel', 'San Marino', 'Santa Clarita', 'Santa Fe Springs', 'Santa Monica', 'Sierra Madre', 'Signal Hill', 'South El Monte', 'South Gate', 'South Pasadena', 'Temple City', 'Torrance', 'Vernon', 'Walnut', 'West Covina', 'West Hollywood', 'Westlake Village', 'Whittier'],
    'Madera': ['Chowchilla', 'Madera', 'Bass Lake', 'North Fork', 'Coarsegold', 'Oakhurst'],
    'Marin': ['Belvedere', 'Corte Madera', 'Fairfax', 'Larkspur', 'Mill Valley', 'Novato', 'Ross', 'San Anselmo', 'San Rafael', 'Sausalito', 'Tiburon', 'Olema', 'Point Reyes Station', 'Greenbrae', 'Stinson Beach', 'Tomales'],
    'Mariposa': ['Mariposa'],
    'Mendocino': ['Fort Bragg', 'Point Arena', 'Ukiah', 'Willits', 'Mendocino', 'Little River', 'Laytonville', 'Philo', 'Gualala', 'Redwood Valley', 'Elk', 'Boonville'],
    'Merced': ['Atwater', 'Dos Palos', 'Gustine', 'Livingston', 'Los Banos', 'Merced', 'Delhi', 'Santa Nella'],
    'Modoc': ['Alturas'],
    'Mono': ['Mammoth Lakes', 'June Lake'],
    'Monterey': ['Carmel-by-the-Sea', 'Del Rey Oaks', 'Gonzales', 'Greenfield', 'King City', 'Marina', 'Monterey', 'Pacific Grove', 'Salinas', 'Sand City', 'Seaside', 'Soledad', 'Carmel Valley', 'Pebble Beach', 'Castroville', 'Pajaro', 'Royal Oaks', 'Prunedale', 'Aromas','Carmel-By-The-Sea'],
    'Napa': ['American Canyon', 'Calistoga', 'Napa', 'St. Helena', 'Yountville', 'St Helena', 'Rutherford', 'Santa Elena'],
    'Nevada': ['Grass Valley', 'Nevada City', 'Truckee', 'Cisco Grove', 'North San Juan', 'Penn Valley'],
    'Orange': ['Aliso Viejo', 'Anaheim', 'Brea', 'Buena Park', 'Costa Mesa', 'Cypress', 'Dana Point', 'Fountain Valley', 'Fullerton', 'Garden Grove', 'Huntington Beach', 'Irvine', 'La Habra', 'La Palma', 'Laguna Beach', 'Laguna Hills', 'Laguna Niguel', 'Laguna Woods', 'Lake Forest', 'Los Alamitos', 'Mission Viejo', 'Newport Beach', 'Orange', 'Placentia', 'Rancho Santa Margarita', 'San Clemente', 'San Juan Capistrano', 'Santa Ana', 'Seal Beach', 'Stanton', 'Tustin', 'Villa Park', 'Westminster', 'Yorba Linda', 'Foothill Ranch', 'Ladera Ranch', 'Silverado', 'Trabuco Canyon', 'Newport Coast'],
    'Placer': ['Auburn', 'Colfax', 'Lincoln', 'Loomis', 'Rocklin', 'Roseville', 'Kings Beach', 'Tahoe City', 'Granite Bay', 'Olympic Valley', 'Newcastle', 'Homewood'],
    'Plumas': ['Portola', 'Quincy', 'Chester', 'Lake Almanor', 'Blairsden-Graeagle'],
    'Riverside': ['Banning', 'Beaumont', 'Blythe', 'Calimesa', 'Canyon Lake', 'Cathedral City', 'Coachella', 'Corona', 'Desert Hot Springs', 'Eastvale', 'Hemet', 'Indian Wells', 'Indio', 'Jurupa Valley', 'La Quinta', 'Lake Elsinore', 'Menifee', 'Moreno Valley', 'Murrieta', 'Norco', 'Palm Desert', 'Palm Springs', 'Perris', 'Rancho Mirage', 'Riverside', 'San Jacinto', 'Temecula', 'Wildomar', 'Thousand Palms', 'Cabazon', 'March Air Reserve Base', 'Idyllwild-Pine Cove', 'Thermal', 'Bermuda Dunes', 'Mira Loma', 'Winchester', 'Anza', 'Mecca', 'Romoland', 'Sun City'],
    'Sacramento': ['Citrus Heights', 'Elk Grove', 'Folsom', 'Galt', 'Isleton', 'Rancho Cordova', 'Sacramento', 'Antelope', 'Arden-Arcade', 'Carmichael', 'Clay', 'Courtland', 'Elverta', 'Fair Oaks', 'Florin', 'Foothill Farms', 'Franklin', 'Fruitridge Pocket', 'Gold River', 'La Riviera', 'Lemon Hill', 'Mather', 'North Highlands', 'Orangevale', 'Parkway', 'Rancho Murieta', 'Rio Linda', 'Rosemont', 'Vineyard', 'Walnut Grove', 'Wilton', 'Hood', 'Rio Linda'],
    'San Benito': ['Hollister', 'San Juan Bautista', 'Tres Pinos'],
    'San Bernardino': ['Adelanto', 'Apple Valley', 'Barstow', 'Big Bear Lake', 'Chino', 'Chino Hills', 'Colton', 'Fontana', 'Grand Terrace', 'Hesperia', 'Highland', 'Loma Linda', 'Montclair', 'Needles', 'Ontario', 'Rancho Cucamonga', 'Redlands', 'Rialto', 'San Bernardino', 'Twentynine Palms', 'Upland', 'Victorville', 'Yucaipa', 'Yucca Valley', 'Joshua Tree', 'Crestline', 'Lake Arrowhead', 'Alta Loma', 'Joshua Tree', 'Oro Grande', 'Yermo', 'Bloomington','Phelan','Helendale','Fort Irwin','Running Springs'],
    'San Diego': ['Carlsbad', 'Chula Vista', 'Coronado', 'Del Mar', 'El Cajon', 'Encinitas', 'Escondido', 'Imperial Beach', 'La Mesa', 'Lemon Grove', 'National City', 'Oceanside', 'Poway', 'San Diego', 'San Marcos', 'Santee', 'Solana Beach', 'Vista', 'Alpine', 'Bonita', 'Borrego Springs', 'Fallbrook', 'Jamul', 'Julian', 'Lakeside', 'Pine Valley', 'Ramona', 'Ranchita', 'Rancho Santa Fe', 'Spring Valley', 'Camp Pendleton North', 'Bonsall', 'Pala', 'Carmel Mountain Ranch', 'Pauma Valley', 'Julian','La Jolla','Camp Pendleton'],
    'San Francisco': ['San Francisco'],
    'San Joaquin': ['Escalon', 'Lathrop', 'Lodi', 'Manteca', 'Ripon', 'Stockton', 'Tracy', 'Acampo', 'French Camp', 'Lockeford', 'Thornton', 'Lockeford', 'Acampo'],
    'San Luis Obispo': ['Arroyo Grande', 'Atascadero', 'Grover Beach', 'Morro Bay', 'Paso Robles', 'Pismo Beach', 'San Luis Obispo', 'Baywood-Los Osos', 'Santa Margarita', 'Cayucos', 'Oceano', 'Templeton', 'Nipomo', 'Cambria', 'San Simeon', 'Los Osos'],
    'San Mateo': ['Atherton', 'Belmont', 'Brisbane', 'Burlingame', 'Colma', 'Daly City', 'East Palo Alto', 'Foster City', 'Half Moon Bay', 'Hillsborough', 'Menlo Park', 'Millbrae', 'Pacifica', 'Portola Valley', 'Redwood City', 'San Bruno', 'San Carlos', 'San Mateo', 'South San Francisco', 'Woodside'],
    'Santa Barbara': ['Buellton', 'Carpinteria', 'Goleta', 'Guadalupe', 'Lompoc', 'Santa Barbara', 'Santa Maria', 'Solvang', 'Orcutt', 'Los Alamos','Los Olivos','Montecito','Isla Vista','Vandenberg AFB'],
    'Santa Clara': ['Campbell', 'Cupertino', 'Gilroy', 'Los Altos', 'Los Altos Hills', 'Los Gatos', 'Milpitas', 'Monte Sereno', 'Morgan Hill', 'Mountain View', 'Palo Alto', 'San Jose', 'Santa Clara', 'Saratoga', 'Sunnyvale','Stanford'],
    'Santa Cruz': ['Capitola', 'Santa Cruz', 'Scotts Valley', 'Watsonville', 'Boulder Creek', 'Freedom','Aptos','Soquel','Felton'],
    'Shasta': ['Anderson', 'Redding', 'Shasta Lake', 'Burney', 'McArthur', 'Platina', 'Lakehead', 'Fall River Mills', 'Cottonwood'],
    'Sierra': ['Loyalton', 'Sierra City'],
    'Siskiyou': ['Dorris', 'Dunsmuir', 'Etna', 'Fort Jones', 'Montague', 'Mount Shasta', 'Tulelake', 'Weed', 'Yreka', 'Mt Shasta', 'Mount Shasta'],
    'Solano': ['Benicia', 'Dixon', 'Fairfield', 'Rio Vista', 'Suisun City', 'Vacaville', 'Vallejo'],
    'Sonoma': ['Cloverdale', 'Cotati', 'Healdsburg', 'Petaluma', 'Rohnert Park', 'Santa Rosa', 'Sebastopol', 'Sonoma', 'Windsor', 'Bodega Bay', 'Guerneville', 'Geyserville', 'Forestville', 'Monte Rio'],
    'Stanislaus': ['Ceres', 'Hughson', 'Modesto', 'Newman', 'Oakdale', 'Patterson', 'Riverbank', 'Turlock', 'Waterford', 'Salida', 'Keyes', 'Westley'],
    'Sutter': ['Live Oak', 'Yuba City', 'Sutter'],
    'Tehama': ['Corning', 'Red Bluff', 'Tehama'],
    'Trinity': ['Weaverville', 'Wildwood', 'Lewiston'],
    'Tulare': ['Dinuba', 'Exeter', 'Farmersville', 'Lindsay', 'Porterville', 'Tulare', 'Visalia', 'Woodlake', 'Alpaugh', 'Orosi', 'Springville','Earlimart','Pixley','Terra Bella','Ivanhoe','Strathmore','Richgrove'],
    'Tuolumne': ['Sonora', 'Jamestown', 'Columbia', 'Pinecrest', 'Groveland'],
    'Ventura': ['Camarillo', 'Fillmore', 'Moorpark', 'Ojai', 'Oxnard', 'Port Hueneme', 'Santa Paula', 'Simi Valley', 'Thousand Oaks', 'Ventura', 'Oak Park','Newbury Park','Somis'],
    'Yolo': ['Davis', 'West Sacramento', 'Winters', 'Woodland', 'Zamora'],
    'Yuba': ['Marysville', 'Wheatland','Linda']
}

***Se crea una lista de condados***

In [3]:
# Obtener solo las claves del dic
lista_condados = list(condados_a_ciudades.keys())
lista_condados_lower = [condado.lower() for condado in lista_condados]  # Normalizar la lista de condados a minúsculas

***Se crea una lista de ciudades desde el diccionario para guardar y utilizarlo tmb en el webscrapping***

In [4]:
lista_ciudades = [ciudad for ciudades in condados_a_ciudades.values() for ciudad in ciudades]

df_ciudades = pd.DataFrame(lista_ciudades, columns=['Ciudad'])

# Guardar el DataFrame en un archivo CSV
df_ciudades.to_csv(r'C:\Users\Usuario\Desktop\HENRY\PROYECTO FINAL\WEB SCRAPPING\ciudades_california.csv', index=False)

# ------------------------------------------------------------------------------

***Importamos valores sobre la renta por condado***

In [5]:
# Ruta del archivo .csv
file_path = r'C:\Users\Usuario\Desktop\HENRY\PROYECTO FINAL\CENSO\alquilerCONDADO.csv'

# Cargar el archivo .csv y seleccionar columnas específicas
columnas_necesarias = ['RegionName', 'renta']  # Cambia por los nombres de las columnas que necesitas
df_alquilerCONDADO = pd.read_csv(file_path, usecols=columnas_necesarias)

In [6]:
len(lista_condados)
len(lista_ciudades)

775

***Realizamos modificaciones finales para dejar el dataframe prolijo***

In [7]:
# Modificar la columna RegionName y filtrar
df_alquilerCONDADO['RegionName'] = df_alquilerCONDADO['RegionName'].str.replace(' County', '').str.strip()

In [8]:
# Filtrar el DataFrame
df_alquilerCONDADO = df_alquilerCONDADO[df_alquilerCONDADO['RegionName'].str.lower().isin(lista_condados_lower)]
df_alquilerCONDADO = df_alquilerCONDADO.drop_duplicates(subset='RegionName')

In [9]:
df_alquilerCONDADO['County'] = df_alquilerCONDADO['RegionName']
df_alquilerCONDADO['Rent'] = df_alquilerCONDADO['renta'].astype(float).round(2)

df_alquilerCONDADO = df_alquilerCONDADO.drop(columns=['renta'])
df_alquilerCONDADO = df_alquilerCONDADO.drop(columns=['RegionName'])

# ------------------------------------------------------------------------------

***Extraemos y modficimaos datos sobre ingreso per capita***

In [10]:
# Ruta del archivo .xlsx
file_path = r'C:\Users\Usuario\Desktop\HENRY\PROYECTO FINAL\CENSO\percapitaingresoCONDADO.xlsx'

# Cargar el archivo .xlsx y seleccionar columnas específicas
columnas_necesarias = ['County', 'ingreso']
df_percapitaingresoCONDAD = pd.read_excel(file_path, usecols=columnas_necesarias)

In [11]:
df_percapitaingresoCONDAD = df_percapitaingresoCONDAD[df_percapitaingresoCONDAD['County'].str.lower().isin(lista_condados_lower)]
df_percapitaingresoCONDAD = df_percapitaingresoCONDAD.drop_duplicates(subset='County')

df_percapitaingresoCONDAD['Per capita income'] = df_percapitaingresoCONDAD['ingreso']
df_percapitaingresoCONDAD = df_percapitaingresoCONDAD.drop(columns=['ingreso'])

# ------------------------------------------------------------------------------

***Extraemos y modficimaos datos sobre el costo de la vivienda***

In [12]:
# Ruta del archivo .xlsx
file_path = r'C:\Users\Usuario\Desktop\HENRY\PROYECTO FINAL\CENSO\precioviviendaCONDADO.xlsx'

# Cargar el archivo .xlsx y seleccionar columnas específicas
columnas_necesarias = ['State.county', 'Costo Vivienda']
df_precioviviendaCONDADO = pd.read_excel(file_path, usecols=columnas_necesarias)

In [13]:
# Filtrar el DataFrame según 'State.county' y conservar solo los condados de la lista
df_precioviviendaCONDADO = df_precioviviendaCONDADO[df_precioviviendaCONDADO['State.county'].str.lower().isin(lista_condados_lower)]

# Asignar la columna 'County' sin cambiar a minúsculas
df_precioviviendaCONDADO['County'] = df_precioviviendaCONDADO['State.county']


# Eliminar la columna original 'State.county'
df_precioviviendaCONDADO = df_precioviviendaCONDADO.drop(columns=['State.county'])

In [14]:
# Crear la nueva columna 'Property Cost' a partir de 'Costo Vivienda'
df_precioviviendaCONDADO['Property Cost'] = df_precioviviendaCONDADO['Costo Vivienda']

# Eliminar la columna original 'Costo Vivienda'
df_precioviviendaCONDADO = df_precioviviendaCONDADO.drop(columns=['Costo Vivienda'])

# ------------------------------------------------------------------------------

***Extraemos y modficimaos datos sobre el ingreso por hogar***

In [15]:
# Ruta del archivo .xlsx
file_path = r'C:\Users\Usuario\Desktop\HENRY\PROYECTO FINAL\CENSO\V2\Median Household Income, 2022.csv'

# Cargar el archivo .xlsx y seleccionar columnas específicas
columnas_necesarias = ['county_name', 'value']
Household = pd.read_csv(file_path, usecols=columnas_necesarias)

In [16]:
# Función para normalizar los nombres: eliminar "county" o "region", convertir a minúsculas, quitar espacios extra y eliminar acentos
def normalizar_nombre(nombre):
    nombre = re.sub(r'\b(county|region)\b', '', nombre, flags=re.IGNORECASE)  # Eliminar "county" o "region"
    nombre = nombre.lower()  # Convertir a minúsculas
    nombre = nombre.strip()  # Eliminar espacios en blanco extra
    return nombre

# Aplicar la normalización a la columna 'county_name' en tu DataFrame
Household['county_name_normalizado'] = Household['county_name'].apply(normalizar_nombre)

# También normalizamos la lista de condados
lista_condados_normalizados = [normalizar_nombre(condado) for condado in lista_condados_lower]

# Filtrar el DataFrame usando los condados normalizados
filtered_df = Household[Household['county_name_normalizado'].isin(lista_condados_normalizados)]

# eliminamos la columna normalizada
filtered_df = filtered_df.drop(columns=['county_name_normalizado'])

In [17]:
# Aplicar la eliminación de "county" o "region" directamente en la columna 'county_name' del DataFrame filtrado
filtered_df['county_name'] = filtered_df['county_name'].apply(lambda nombre: re.sub(r'\b(county|region)\b', '', nombre, flags=re.IGNORECASE).strip())

In [18]:
filtered_df.rename(columns={'county_name': 'County','value': 'Median Household Income'}, inplace=True)

In [19]:
df_household = filtered_df.groupby('County', as_index=False).agg({
    'Median Household Income': 'sum'
})

# ------------------------------------------------------------------------------

***Extraemos y modficimaos datos sobre el la poblacion***

In [20]:
# Ruta del archivo .xlsx
file_path = r'C:\Users\Usuario\Desktop\HENRY\PROYECTO FINAL\CENSO\V2\PoblacionPorCiudad.xlsx'

# Cargar el archivo .xlsx y seleccionar columnas específicas
columnas_necesarias = ['city', 'population']
poblacion = pd.read_excel(file_path, usecols=columnas_necesarias)

# Dividir la columna 'city' en 'city_name' y 'state'
poblacion[['city_name', 'state']] = poblacion['city'].str.split(', ', expand=True)

# Eliminar la palabra "city" de los nombres de las ciudades
poblacion['city_name'] = poblacion['city_name'].str.replace(' city', '', regex=False)

# Crear una lista para almacenar los resultados
resultados = []

# Sumar la población por condado
for condado, ciudades in condados_a_ciudades.items():
    # Filtrar las ciudades que están en el DataFrame original
    ciudades_filtradas = poblacion[poblacion['city_name'].isin(ciudades)]
    poblacion_total = ciudades_filtradas['population'].sum()

    # Agregar el resultado a la lista
    resultados.append({'condado': condado, 'poblacion_total': poblacion_total})

# Crear un nuevo DataFrame con los resultados
df_condados_poblacion = pd.DataFrame(resultados)

In [21]:
# Calcular el promedio de la columna 'poblacion_total' excluyendo los ceros
promedio = df_condados_poblacion['poblacion_total'][df_condados_poblacion['poblacion_total'] != 0].mean()

# Definir un rango para el valor aleatorio (por ejemplo, ±20% del promedio)
rango = promedio * 0.2

# Reemplazar los ceros con un valor aleatorio alrededor del promedio
for index in df_condados_poblacion.index:
    if df_condados_poblacion.at[index, 'poblacion_total'] == 0:
        df_condados_poblacion.at[index, 'poblacion_total'] = np.random.uniform(promedio - rango, promedio + rango)

In [22]:
# Convertir la columna 'poblacion_total' a tipo entero
df_condados_poblacion['poblacion_total'] = df_condados_poblacion['poblacion_total'].astype(int)

In [23]:
df_condados_poblacion.rename(columns={'condado': 'County'}, inplace=True)

***Ajustamos valores de Poblacion***

In [24]:
# Paso 1: Calcular el exceso de población
poblacion_actual = df_condados_poblacion['poblacion_total'].sum()
poblacion_objetivo = 39_500_000
diferencia = poblacion_actual - poblacion_objetivo

# Paso 2: Calcular el factor de ajuste
factor_ajuste = diferencia / poblacion_actual

# Paso 3: Aplicar la corrección proporcionalmente a cada condado
df_condados_poblacion['poblacion_total'] = df_condados_poblacion['poblacion_total'] * (1 - factor_ajuste)

# Mostrar el total ajustado y las nuevas poblaciones
poblacion_total_ajustada = df_condados_poblacion['poblacion_total'].sum()

# ------------------------------------------------------------------------------

***Procedemos a mergear los Dataframes para obtener una sola tabla***

In [25]:
print(df_percapitaingresoCONDAD.columns)
print(df_alquilerCONDADO.columns)
print(df_precioviviendaCONDADO.columns)
print(df_condados_poblacion.columns)
print(df_household.columns)

Index(['County', 'Per capita income'], dtype='object')
Index(['County', 'Rent'], dtype='object')
Index(['County', 'Property Cost'], dtype='object')
Index(['County', 'poblacion_total'], dtype='object')
Index(['County', 'Median Household Income'], dtype='object')

***Mergeamos mediante la columna County, presente en todos los dataframes***

In [26]:
df_merged = pd.merge(df_percapitaingresoCONDAD, df_alquilerCONDADO, on='County', how='outer')

df_datosEconomicos = pd.merge(df_merged, df_precioviviendaCONDADO, on='County', how='outer')

df_datosEconomicos = pd.merge(df_datosEconomicos, df_condados_poblacion, on='County', how='outer')

df_datosEconomicos = pd.merge(df_datosEconomicos, df_household, on='County', how='outer')

df_datosEconomicos.rename(columns={'poblacion_total': 'Population'}, inplace=True)

In [27]:
df_datosEconomicos.columns

Index(['County', 'Per capita income', 'Rent', 'Property Cost', 'Population',
       'Median Household Income'],
      dtype='object')

***Manejamos los duplicados/nulos y realizamos transformaciones finales***

In [28]:
# Eliminar filas duplicadas basadas en la columna 'county'
df_datosEconomicos = df_datosEconomicos.drop_duplicates(subset='County')

In [29]:
# Función para generar un valor aleatorio cerca de la mediana
def valor_aleatorio_cercano(mediana):
    rango = 0.1 * mediana  # Ajusta el rango según sea necesario (10% de la mediana)
    return np.random.uniform(mediana - rango, mediana + rango)

# Rellenar los valores vacíos con valores aleatorios cercanos a la mediana
for columna in ['Per capita income', 'Rent', 'Property Cost','Population','Median Household Income']:
    mediana = df_datosEconomicos[columna].median()  # Calcular la mediana una vez por columna
    for index, row in df_datosEconomicos.iterrows():
        if pd.isna(row[columna]):
            df_datosEconomicos.at[index, columna] = round(valor_aleatorio_cercano(mediana - (mediana * 0.20)), 2)

In [30]:
for columna in ['Per capita income', 'Rent', 'Property Cost','Population','Median Household Income']:
    df_datosEconomicos[columna] = df_datosEconomicos[columna].astype(int)

In [31]:
data = df_datosEconomicos.copy()

In [32]:
data

,County,Per capita income,Rent,Property Cost,Population,Median Household Income
0,Alameda,97754,2837,1250000,1796932,121190
1,Alpine,67551,2010,434031,604076,71646
2,Amador,48463,2077,490000,257457,74356
3,Butte,54974,1543,436250,334950,184966
4,Calaveras,56001,2068,475000,16917,73175
5,Colusa,55502,2034,432865,46848,72963
6,Contra Costa,95047,2793,844440,1372893,119667
7,Del Norte,43677,2010,382500,806177,57297
8,El Dorado,82062,2388,657000,16934,104859
9,Fresno,50549,1827,425000,631379,68693
10,Glenn,51055,1871,321000,692266,63247
11,Humboldt,54043,1398,421920,20673,209436
12,Imperial,45188,2150,336500,105590,55523
13,Inyo,61501,2178,372733,622435,64332
14,Kern,44862,1686,394500,492318,65981
15,Kings,42525,3296,382500,87398,136927
16,Lake,45623,1916,325000,747417,781721
17,Lassen,40700,2152,225000,720520,60308
18,Los Angeles,74142,2769,792500,7938792,82455
20,Madera,46406,1920,453000,54692,71273
21,Marin,171177,3556,1475000,109595,135960
22,Mariposa,61230,1934,480000,673560,66513
23,Mendocino,57310,1963,560000,716745,63621
24,Merced,46188,1848,385000,140023,65253
25,Modoc,56559,2046,393315,722935,51166
26,Mono,65296,1907,970000,615762,79105
27,Monterey,65123,2494,897000,281328,91450
28,Napa,86863,3023,1055000,79403,98580
29,Nevada,40501,2593,555000,603183,124718
30,Orange,83553,3060,373131,2483719,626964
31,Placer,81791,2474,669000,729812,106114
32,Plumas,59387,2058,412000,139780,66725
33,Riverside,51415,2511,385809,1753111,86350
34,Sacramento,61558,2134,535000,911150,83985
35,San Benito,61693,2018,777550,35876,106560
36,San Bernardino,49270,2370,495000,1686219,78779
37,San Diego,74326,2932,1000000,2288365,98365
38,San Francisco,155819,3393,1576000,649909,135366
39,San Joaquin,54183,2332,535000,611414,84738
40,San Luis Obispo,67951,2551,868810,63420,88578
41,San Mateo,175070,3314,1950000,500172,143795
42,Santa Barbara,75720,3123,1295000,218671,89334
43,Santa Clara,144399,3342,1852500,1397031,150502
44,Santa Cruz,47898,3309,1200000,90272,152723
45,Shasta,54120,1454,365000,142922,66312
46,Sierra,47877,1901,412199,609545,104359
47,Siskiyou,51788,1838,398095,784801,51593
48,Solano,58273,2387,599000,358074,92711
49,Sonoma,77900,2541,850000,224291,96312
50,Stanislaus,51015,1867,465000,354079,75249
51,Sutter,52005,1889,425000,55163,66071
52,Tehama,47315,2188,312050,707168,58900
53,Trinity,36314,2151,205000,86836,99114
54,Tulare,47295,1633,372000,273383,64313
55,Tuolumne,52806,1923,389500,297873,70108
56,Ventura,76375,2894,915000,509454,101981
57,Yolo,64279,2278,622500,146852,82359
58,Yuba,48204,1874,449500,81411,63626

In [33]:
# Calcular la suma de cada columna numérica
totals = data.sum(numeric_only=True).astype(int)

# Utilizar la función describe() y convertir los resultados a enteros
df_describe = data.describe().astype(int)

# Agregar la fila de total al DataFrame de describe
df_describe.loc['total'] = totals

# Convertir todas las columnas de nuevo a enteros donde sea posible
df_describe = df_describe.astype('Int64', errors='ignore')

# Mostrar el resultado
df_describe

,Per capita income,Rent,Property Cost,Population,Median Household Income
count,58,58,58,58,58
mean,65818,2310,643563,681033,112211
std,29880,537,392271,1119435,118449
min,36314,1398,205000,16917,51166
25%,48268,1917,390453,117141,66362
50%,55751,2150,470000,496245,83220
75%,72594,2582,831455,719576,105800
max,175070,3556,1950000,7938792,781721
total,3817471,134026,37326698,39499971,6508267

In [34]:
# Guardar el DataFrame en un archivo Parquet en una ruta específica
ruta = r'C:\Users\Usuario\Desktop\HENRY\PROYECTO FINAL\repo\epicurean_project\DATA\datos_economicos.csv'
data.to_csv(ruta, index=False)